[submodule "src/eqlib"]
	path = src/eqlib
	url = https://github.com/cannonballdex/eqlib.git
[submodule "contrib/vcpkg"]
	path = contrib/vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = master
[submodule "data/lua/IntegrationTests"]
	path = src/plugins/lua/lua/IntegrationTests
	url = https://github.com/macroquest/integration-tests.git
[submodule "contrib/luarocks"]
	path = contrib/luarocks
	url = https://github.com/macroquest/luarocks.git
	shallow = true
